<div class="section gf-form-group" ng-if="!ctrl.isCurrentDatasourceSupported(ctrl.datasource)">
  This datasource is not currently supported !
  The only datasource type currently supported is "grafana-hurence-historian-datasource"
</div>
<div ng-if="ctrl.isCurrentDatasourceSupported(ctrl.datasource)">
  <!-- isCurrentDatasourceSupported -->
  <div class="section gf-form-group">
    <h5 class="section-heading">Display</h5>

    <gf-form-switch 
      class="gf-form" 
      label="Show Time" 
      label-class="width-9" 
      checked="ctrl.panel.showTime" 
      on-change="ctrl.refresh()"></gf-form-switch>
      
    <gf-form-switch 
      class="gf-form" 
      label="Show Tags" 
      label-class="width-9" 
      checked="ctrl.panel.showTags" 
      on-change="ctrl.refresh()"></gf-form-switch>

    <gf-form-switch 
      class="gf-form" 
      label="Debug Info" 
      label-class="width-9" 
      checked="ctrl.panel.showAnnoJSON" 
      on-change="ctrl.refresh()"></gf-form-switch>
  </div>
  
  <div class="section gf-form-group">
    <h5 class="section-heading">Search</h5>

    <gf-form-switch 
      class="gf-form" 
      label="Within Time Range" 
      label-class="width-12" 
      checked="ctrl.panel.onlyInTimeRange" 
      on-change="ctrl.refresh()"></gf-form-switch>

    <div class="gf-form">
      <span class="gf-form-label width-7">Tags</span>
      <bootstrap-tagsinput 
        ng-model="ctrl.panel.tags" 
        tagclass="label label-tag" 
        placeholder="search tags" 
        on-tags-updated="ctrl.refresh()">
      </bootstrap-tagsinput>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-7">Max items</span>
      <input class="gf-form-input max-width-5" type="number" ng-model="ctrl.panel.limit" ng-model-onblur ng-change="ctrl.refresh()">
    </div>
  </div>

</div>
